<!DOCTYPE html>

<html>

<head>
    <title>IoT Server Interface</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{bodycontent}}

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>