<!DOCTYPE html>

<html>

<head>
    <title>Interface</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{helpText}}
        {{content}}
    </div>
    
    {{>footer}}
</body>

</html>